button {
    border: none;
    outline: none;
    background: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0.5em;
}
body {
    margin: 0;
    font-family: sans-serif;
}
#lines {
    border-bottom: 17px double black;
    border-top: 6px solid black;
    height: 5px;
    width: 30px;
}

.btn {
    position: absolute;
    top: 0;
    left: auto;
    transform: rotateZ(0deg);
    transition-duration: 500ms;
    margin: 100px 20px 0;
}

.btn_active {
    transform: rotateZ(90deg);
    transition-duration: 500ms;
}
.btn-close {
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.btn-close img {
    width: 20px;
    height: 20px;

}
.header{
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    background: white;
    margin: 0;
    z-index: 3;
}
.header img{
    height: 70px;
}
.name {
    font-size: 25px;
}
.list {
    padding-top: 110px;
}
.list_block  {
    display: flex;
    overflow-x: scroll;
    margin: 0 auto;
}
.list_block::-webkit-scrollbar {
    width: 0;
}

.item {
    width: 200px;
    padding: 20px;
    margin: 20px 20px 20px 0;
    display: inline-block;
}
.item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

img {
    width: 200px;
    height: 200px;
}

.item_block {
    width: 400px;
}

.item_block img {
    width: auto;
    height: 400px;
    opacity: 0.7;
}
.item_block:hover {
    height: calc(1.2*400px);
    width: calc(1.2*400px);
    transition: 500ms;
    box-shadow: none;
}
.item_block:hover  img{
    width: auto;
    height: calc(1.2*400px);
    opacity: 1;
    margin-bottom: calc(-1.2/4*400px);
}
.item_block_active,.item_block_active:hover  {
    width: 100%;
    height: 100%;
    transition: 500ms;
    background: rgba(0, 0, 0, 0.9);
    padding: 100px 0 0 0;
    margin: 0;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
}
.item_block_active img, .item_block_active:hover img {
    width: auto;
    height: calc(1.4*400px);
    opacity: 1;
    margin-bottom: calc(-1.4/4*400px);
}
.about {

}
.bottom {
    margin: 140px 0 0 0;
    color: #dddddd;
    text-align: center;
}
.hidden {
    display: none;
}
.footer {
    text-align: justify;
}
.footer:after {
    content: '';
    width: 100%;
    display: inline-block;
}
.mails {
    display: inline-block;
}
.mail {
    display: block;
    background: url("content/mail.png") no-repeat;
    padding: 0 0 0 20px;
    background-size: 15px 15px;
    margin: 10px 0;
}
.company {
    display: inline-block;
    text-align: right;
}
.switch {
    text-align: center;
    z-index: 10;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 3px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.slider-dots_item-active,
.slider-dots_item:hover {
    background-color: #aaa;
}